
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-roboto);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mavi-2);
  margin: 1rem;
  margin-top: 5rem;
  height: 3.1rem;
}
.logo {
  width: 3.1rem;
  height: 3.1rem;
}
.list li {
  display: inline-block;
  list-style-type: none;
  line-height: 3.1rem;
  text-align: center;
}
.list li a {
  text-decoration: none;
}
.menu {
  background-color: var(--mavi-9);
  padding: 0.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 17px, -2px -2px 17px;
}
.menu li {
  padding: 0 0.5rem;
}
.div1 {
  background-color: var(--gri-8);
  width: 40%;
}
.div2 {
  width: 20%;
  text-align: center;
}
.div3 {
  width: 40%;
  text-align: end;
}
