* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.logo {
  background-color: rgb(189, 201, 216);
  height: 30px;
  width: 33.33vw;
}
.logo img {
  height: 30px;
}
.list {
  background-color: rgb(233, 239, 246);
  height: 50px;
  width: 33.33vw;
  margin: 7px 0px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px rgb(151, 151, 151);
  border-radius: 5px;
}
.list div a {
  color: black;
  text-decoration: none;
  padding: 10px 25px;
  /* gap: 25px; */
}
.icons {
  background-color: rgb(104, 167, 243);
  height: 30px;
  width: 33.33vw;
  align-items: center;
  text-align: end;
}
.icons a i {
  color: black;
  text-decoration: none;
  height: 30px;
  /* width: 40px; */
}
